html, body {
	height:100%;
	overflow:hidden;
  /*padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}
#container {
	min-height:100%;
}

.edit {
	position:absolute;
	width: 100%;
	height: 100%;
	font-family:monospace;
}

.renderparent {
	overflow:hidden;
	position:relative;
}

.renderbase {
	display:none;
}


.editmode {
	transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
}
/*.editmode .slide {
	width: 560px;
	height: 360px;
	padding: 20px;
}*/

.slideborder {
	border: 1px solid grey;
}

.step {
}

.render {
	height:100%;
}

#slideNavButtons {
	z-index: 999;
	position: absolute;
}
