.render {
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, "Malgun gothic", sans-serif;
  padding: 0;
  margin: 0;
  background: #778;
  /*width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;*/
}

.slide {
  /*display: none;*/
  position: absolute;
  overflow: hidden;
  background-color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#eef));
  background: -moz-linear-gradient(bottom, #bbd, #eef);
  background: linear-gradient(bottom, #bbd, #eef);
	margin:20px;
	width: 904px;
	height: 548px;
	/*border: 1px solid grey;*/
	padding: 40px;
	padding-top: 140px;
  -moz-border-radius: 20px 0;
  -khtml-border-radius: 20px 0;
  border-radius: 20px; /* includes Opera 10.5+ */
  -webkit-border-radius: 20px;
}

.slide.no-background {
  background: none;
}
.slide ul, .slide p, .slide textarea {
  font-size: 40px;
}



.slide.past {
}

.slide.current {
}

.slide.future {
}

/* Content */
/*
  Font sizes:
  header h1 - 50px
  h2, p - 20px
  default, pre, input - 16px
*/

@font-face {
  font-family: 'JunctionRegular';
  src: url('/src/fonts/junction02/junction02-webfont.eot');
  src: local('☺'), url('/src/fonts/junction02/junction02-webfont.woff') format('woff'), url('/src/fonts/junction02/junction02-webfont.ttf') format('truetype'), url('/src/fonts/junction02/junction02-webfont.svg#webfontwzJOjWvv') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('/src/fonts/leaguegothic/leaguegothic-webfont.eot');
  src: local('☺'), url('/src/fonts/leaguegothic/leaguegothic-webfont.woff') format('woff'), url('/src/fonts/leaguegothic/leaguegothic-webfont.ttf') format('truetype'), url('/src/fonts/leaguegothic/leaguegothic-webfont.svg#webfontWgfhmMGx') format('svg');
  font-weight: normal;
  font-style: normal;
}

.slide h1 {
  position:absolute;
  top:40px;
  font-size: 80px;
  width:920px;
  padding: 0;
  margin-bottom: 40px;
}

.slide.two-column h1 {
	-webkit-column-span:all;
	column-span: all;
}

.slide.titleslide h1 {
  color: black;
	position:absolute;
	top:35%;
	font-size: 100px;
}

.slide.titleslide h2 {
  color: black;
	position:absolute;
	top:55%;
	font-size: 70px;
}

.slide.titleslide h3 {
  color: black;
	position:absolute;
	top:75%;
	right:10%;
	font-size: 40px;
}

.slide h2 {
  /*font-family: 'Droid Sans';*/
  color: black;
  font-size: 40px;
  padding: 0;
  margin: 15px 0 5px 0;
}
      
section, footer {
  /*font-family: 'Droid Sans';*/
  color: #3f3f3f;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  margin: 100px 30px 0;
  display: block;
  overflow: hidden;
}

footer {
  font-size: 12px;
  margin: 20px 0 0 30px;
}

.slide a {
  display: inline-block;
  line-height: 110%;
}


.slide li {
	line-height: normal;
  /*list-style: none;*/
  margin-left:20px;
  padding: 5px 0;
}


.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.summary li::before, .bullets li::before {
  content: '· ';
}

.stroke {
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 1px;
} /* currently webkit-only */

.center {
  text-align: center;
}

#presentation-counter {
  color: #ccc;
  font-size: 100px;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
}

